body {
  background-color: var(--primary-clr);
}

/* Start nav */
.nav {
  display: flex;
  align-items: center;
  padding: 25px 40px;
  background-color: var(--secondary-clr);
  box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: -1px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.nav h3 {
  font-size: 1.5em;
  margin-left: 7px;
  letter-spacing: -1px;
  color: var(--bleu-clr);
}

.nav label {
  display: block;
  width: 50px;
  height: 23px;
  margin-left: auto;
  background-color: black;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.nav .theme-toggle-btn {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.nav .theme-toggle-btn::before {
  content: "";
  position: absolute;
  width: 17px;
  aspect-ratio: 1;
  background-color: #fff;
  top: -15px;
  left: 3px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}

.nav .theme-toggle-btn:checked::before {
  left: 30px;
}

.nav .nav-logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}


.nav .nav-logo:hover {
  filter: drop-shadow(0 0 0.5em var(--bleu-clr));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .nav .nav-logo {
    animation: logo-spin infinite 20s linear;
  }
}
/* End nav */

/* Start Main content */
.MainContent {
  position: relative;
  padding: 57px 0px 0px 120px;
  color: var(--txt-color);
  /* make the main content take all the veiw height minus the nav bar and footer sections height and padding  */
  min-height: calc(100vh - 86px - 67px - 57px);
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .MainContent {
    padding: 57px 27px;
  }
}

.MainContent-title {
  font-size: 2.438rem;
  font-weight: 700;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
}

.MainContent-list {
  list-style: none;
}

.MainContent-list li {
  font-size: 1.02rem;
  line-height: 3;
  margin-left: 55px;
  position: relative;
  z-index: 2;
}

.MainContent-list li::before {
  content: "";
  position: absolute;
  width: 9px;
  aspect-ratio: 1;
  left: -30px;
  top: 20px;
  background-color: var(--bleu-clr);
  border-radius: 50%;
}

@media screen and (max-width: 480px) {
  .MainContent-title {
    font-size: 2.05rem;
  }
}

aside {
  position: absolute;
  right: -180px;
  top: 27px;
  z-index: 1;
}

aside img {
  width: 70vmin;
  aspect-ratio: 1;
}

@media screen and (max-width: 480px) {
  aside {
    right: -140px;
    top: 186px;
  }
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--primary-clr);
  box-shadow: 1px 2px 20px rgba(0, 0, 0, 0.445);
  padding: 15px;
  left: 0;
  bottom: 0px;
  z-index: 3;
}

.add-facts input {
  padding: 10px;
  border-radius: 6px;
  font-weight: 700;
  border: none;
  outline: none;
}

.add-facts input[type="text"] {
  width: 200px;
  margin-right: 10px;
  background-color: var(--primary-clr);
  border: 1px solid #888;
  color: var(--txt-color);
  caret-color: var(--bleu-clr);
}

.add-facts input[type=button] {
  cursor: pointer;
  color: hsla(0, 0%, 0%, .9);
  background-color: #888;
  transition: all 350ms ease-in-out;
}

.add-facts input[type=button]:hover {
  color: hsla(0, 0%, 0%, .789);
}

/* End main content */