:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --txt-color: rgba(255, 255, 255, 0.87);
  --primary-clr: #282C35;
  --secondary-clr: #22222A;
  --bleu-clr: #61DAFB;

  color: var(--txt-color);
  background-color: var(--primary-clr);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

[data-theme="light"] {
  --primary-clr: #fff;
  --secondary-clr: #fff;
  --txt-color: #213547;
}

* {
  margin: 0;
  padding: 0;
  transition: all 350ms ease-in-out;
}